<h1>Credentials</h1>
<table align="center">
  <tr>
    <th>User Name</th>
    <th>Password</th>
  </tr>
  <tr>
    <td>admin</td>
    <td>admin</td>
  </tr>
  <tr>
    <td>student</td>
    <td>minedminds</td>
  </tr>
  <tr>
    <td>guest</td>
    <td>guest1</td>
  </tr>  
</table>
<br>
<a href="/login">Return to Login<a>
