<h3>Login Information</h3>
<form method="post" action="login">
<input type="text" name="first_name" placeholder="First Name" required autofocus>
<input type="text" name="last_name" placeholder="Last Name " required>
<br>
<input type="text" name="user_name" placeholder="User Name " required>
<input type="password" name="password" placeholder="Password " required>
<div class="red">
<%=error%>
<br>
</div>
<input type="submit" value="Login" onclick>
<br><br>
<a href="/credentials">Forgot User Name/Password?<a>
</form>